<h1>Seriale:</h1>
<table>
    <tr>
        <th>Serial Title</th>
        <th>Number Of Seasons</th>
        <th>Release Date</th>
    </tr>
    {% for serial in serial_list %}
    <tr>
        <td><a href="show/details/{{ serial.id }}">{{ serial.title }}</a> </td>
        <td>{{ serial.number_of_seasons }}</td>
        <td>{{ serial.release_date }}</td>
        <td><a href="show/update/{{ serial.id }}">Update</a></td>
        <td><a href="show/delete/{{ serial.id }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% if user.is_authenticated %}
    <p><a href="show/create">Add New Serial</a></p>
    <p><a href="/logout">Logout</a> <a href="/profile">Profile</a>Logged as {{ user.username }}</p>
{% else %}
    <p><a href="/login">Login</a> <a href="/signup">Register</a></p>
{% endif %}

